@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-main-color:#295F98;
    --btn-primary-bg:#2980B9;
    --btn-txt:#FFF;
    --btn-secondary-bg:#E74C3C;
}

body{
    background-color: var(--bg-main-color);
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    display: flex;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #af4c5e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

header h1 {
    margin-left: 10px;
    font-size: 24px;
    line-height: 1rem;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
}

aside {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

aside nav ul {
    list-style: none;
}

aside nav ul li {
    margin: 15px 0;
}

aside nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

aside nav ul li a i {
    margin-right: 10px;
}

main {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    background-color: #f4f4f4;
    overflow-y: auto;
    margin-top: 50px;
}

h1, h2 {
    margin-bottom: 10px;
}

.container{
    margin: 20px auto;
}

input, select{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-left: 10px;
}

label{
    margin-bottom: 8px;
}

.button-panel{
    display: flex;
    justify-content: space-between;
}

button{
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

button.submit {
    background-color: #007bff;
}

button.cancel {
    background-color: #6c757d;
}

.user-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 10px;
}

dialog{
    width: 90%;
    max-width: 640px;
    margin: 10% auto;
    border-radius: 8px;
    border: none;
}

.dialog__title{
    width: 100%;
    background-color: var(--bg-main-color);
    text-align: center;
    color: #fafafa;
    padding: 4px;
}

.dialog__body{
    padding: 10px;
}

::backdrop {
    background-color: #23292e;
    opacity: 0.75;
}

.bg__blur{
    filter: blur(5px);
    pointer-events: none;
    transition: filter 0.3s ease-in-out;
}

.bill__filters{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    aside {
        transform: translateX(-100%);
        width: 95%;
        height: 100%;
        z-index: 200;
        position: fixed;
        top: 0;
        left: 0;
        transition: transform 0.3s ease;
    }

    .menu-toggle {
        display: block;
    }

    main {
        margin-left: 0;
        width: 100%;
    }

    #sidebar.show {
        transform: translateX(0);
    }

    .bill__filters{
        margin-top: 20px;
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (min-width: 801px) {
    aside {
        transform: translateX(0); /* Siempre visible en pantallas grandes */
    }

    .menu-toggle {
        display: none;
    }

    main {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}