<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        backupGlobals="false"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Test SCG">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>